<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.8.2/countUp.min.js"
      integrity="sha512-bo+22vUP5nA4TPXCErmSTqmrBTFpnK9FXPKjDAahqShfXIdh9JpMl0iS/ZXHPw70OzdRz3xP3pqJfoo89JITkQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <%- include("common/header.ejs") %>
    <div id="index_container">
      <div class="cont1">
        <video src="/img/videomain.mp4" autoplay loop muted></video>
        <div class="context">
          <h2><div id="app"></div></h2>
          <div class="btns">
            <a href="/brdlist">게시글 페이지로 가기</a>
            <a href="/subpage">더 알아보기</a>
          </div>
        </div>
      </div>
      <div class="cont2">
        <div class="center">
          <div class="context">
            <h2>저희 회사만의 특징</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod
            </p>
          </div>
          <div class="inner">
            <div
              class="left"
              data-aos="zoom-in-right"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <img src="/img/img1.jpg" />
            </div>
            <div
              class="right"
              class="left"
              data-aos="zoom-in-left"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="200"
            >
              <div class="card card1">
                <i class="fa-solid fa-plane"></i>
                <div>
                  <h2>빠릅니다</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod
                  </p>
                </div>
              </div>
              <div class="card card2">
                <i class="fa-solid fa-car-side"></i>
                <div>
                  <h2>저렴합니다</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod
                  </p>
                </div>
              </div>
              <div class="card card3">
                <i class="fa-solid fa-road"></i>
                <div>
                  <h2>신뢰할 수 있습니다</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod
                  </p>
                </div>
              </div>
              <div class="card card4">
                <i class="fa-solid fa-infinity"></i>
                <div>
                  <h2>간편합니다</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cont4">
        <div class="center">
          <div class="context">
            <h2>놓치면 안될 장소들</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="places">
            <div
              data-aos="zoom-out-right"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place1"
            >
              <div class="content">
                <h2>플로리다</h2>
                <p>14 flights</p>
              </div>
            </div>
            <div
              data-aos="zoom-out-right"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place2"
            >
              <div class="content">
                <h2>캘리포니아</h2>
                <p>98 flights</p>
              </div>
            </div>
            <div
              data-aos="zoom-out-left"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place3"
            >
              <div class="content">
                <h2>뉴욕</h2>
                <p>94 flights</p>
              </div>
            </div>
            <div
              data-aos="zoom-out-right"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place4"
            >
              <div class="content">
                <h2>런던</h2>
                <p>28 flights</p>
              </div>
            </div>
            <div
              data-aos="zoom-out-left"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place5"
            >
              <div class="content">
                <h2>호주</h2>
                <p>38 flights</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cont5">
        <div class="center">
          <div class="card card1">
            <i class="fa-solid fa-medal"></i>
            <div class="contents">
              <h2 id="count1">0</h2>
              <p>후기</p>
            </div>
          </div>
          <div class="card card2">
            <i class="fa-solid fa-person"></i>
            <div class="contents">
              <h2 id="count2">0</h2>
              <p>고객</p>
            </div>
          </div>
          <div class="card card3">
            <i class="fa-brands fa-magento"></i>
            <div class="contents">
              <h2 id="count3">0</h2>
              <p>직원</p>
            </div>
          </div>
          <div class="card card4">
            <i class="fa-solid fa-plane"></i>
            <div class="contents">
              <h2 id="count4">0</h2>
              <p>항공사</p>
            </div>
          </div>
        </div>
      </div>
      <div id="cont6">
        <div class="context">
          <h2>스태프</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="cards">
          <div
            class="card card1"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="0"
          >
            <img src="/img/staff1.jpg" />
            <div class="contents">
              <h3>Maria Blank</h3>
              <p>오피스 매니저</p>
              <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div
            class="card card2"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="200"
          >
            <img src="/img/staff2.jpg" />
            <div class="contents">
              <h3>Karen Paran</h3>
              <p>서포트 매니저</p>
              <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div
            class="card card3"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="400"
          >
            <img src="/img/staff3.jpg" />
            <div class="contents">
              <h3>Martin Smith</h3>
              <p>웹 개발자</p>
              <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div
            class="card card4"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="600"
          >
            <img src="/img/staff4.jpg" />
            <div class="contents">
              <h3>Jordan Peterson</h3>
              <p>크리에이티브 디렉터</p>
              <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cont7">
        <div class="context">
          <h2>고객들의 후기</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="center">
          <div class="card card1">
            <img src="/img/staff1.jpg" />
            <div class="context">
              <h3>Karen Paran</h3>
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p>( 4.0 Reviews )</p>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
                perspiciatis at laborum, adipisci suscipit
              </p>
            </div>
          </div>
          <div class="card card2">
            <img src="/img/staff2.jpg" />
            <div class="context">
              <h3>Eliane Perei</h3>
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p>( 3.9 Reviews )</p>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
                perspiciatis at laborum, adipisci suscipit
              </p>
            </div>
          </div>
          <div class="card card3">
            <img src="/img/staff3.jpg" />
            <div class="context">
              <h3>Jordan Peterson</h3>
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p>( 4.1 Reviews )</p>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
                perspiciatis at laborum, adipisci suscipit
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="cont8">
        <div class="context">
          <h2>블로그</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            perspiciatis at laborum, adipisci suscipit
          </p>
        </div>
        <div class="center">
          <div
            class="card card1"
            data-aos="fade-in"
            data-aos-duration="500"
            data-aos-once="true"
          >
            <img src="/img/blog1.jpg" />
            <div class="midbar">
              <img src="img/staff1.jpg" />
              <div class="context">
                <p>Alex Teseira</p>
                <div class="icons">
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="context">
              <h2>꿈꿔왔던 여행이 현실로</h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta
                dolorum ratione aliquid doloremque cumque
              </p>
            </div>
          </div>
          <div
            class="card card2"
            data-aos="fade-in"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="200"
          >
            <img src="/img/blog2.jpg" />
            <div class="midbar">
              <img src="img/staff3.jpg" />
              <div class="context">
                <p>Alex Teseira</p>
                <div class="icons">
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="context">
              <h2>꿈꿔왔던 여행이 현실로</h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta
                dolorum ratione aliquid doloremque cumque
              </p>
            </div>
          </div>
          <div
            class="card card3"
            data-aos="fade-in"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="400"
          >
            <img src="/img/blog3.jpg" />
            <div class="midbar">
              <img src="img/staff2.jpg" />
              <div class="context">
                <p>Alex Teseira</p>
                <div class="icons">
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="context">
              <h2>꿈꿔왔던 여행이 현실로</h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta
                dolorum ratione aliquid doloremque cumque
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="cont9">
        <div class="context">
          <h2>고객사</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="view">
          <div class="slide1">
            <div class="img">
              <img src="/img/company1.png" />
              <img src="/img/company2.png" />
              <img src="/img/company3.png" />
              <img src="/img/company4.png" />
              <img src="/img/company5.png" />
              <img src="/img/company6.png" />
              <img src="/img/company7.png" />
              <img src="/img/company8.png" />
              <img src="/img/company9.png" />
              <img src="/img/company10.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script>
      let countUpCont = document.querySelector("#cont5");
      let view = Math.round(window.innerHeight) / 2;
      let active = false;
      console.log(view);
      window.addEventListener("scroll", () => {
        console.log(window.scrollY);
        console.log(countUpCont.offsetTop);
        if (window.scrollY >= countUpCont.offsetTop - view) {
          if (active == false) {
            var counter1 = new CountUp("count1", 0, 989, 0, 8, {});
            counter1.start();
            var counter2 = new CountUp("count2", 0, 23907, 0, 5);
            counter2.start();
            var counter3 = new CountUp("count3", 0, 34, 0, 10);
            counter3.start();
            var counter4 = new CountUp("count4", 0, 176, 0, 10);
            counter4.start();
            active = true;
          }
        }
      });

      const slide1 = document.querySelector("#cont9 .view .slide1 ");

      let i = 0;
      let xSize = window.innerWidth * 2;

      const moveSlideRight = () => {
        slide1.style.marginLeft = -i + "px";
        if (i >= xSize) {
          clearInterval(autoMove);
          autoMove = setInterval(() => {
            moveSlideLeft();
          }, 1);
        }
        i++;
      };

      const moveSlideLeft = () => {
        slide1.style.marginLeft = -i + "px";
        if (i <= 0) {
          clearInterval(autoMove);
          i = 0;
          autoMove = setInterval(() => {
            moveSlideRight();
          }, 1);
        }
        i -= 10;
      };

      let autoMove = setInterval(() => {
        moveSlideRight();
      }, 1);

      // moveSlideRight = setInterval(() => {
      //   slide1.style.marginLeft = -i + "px";
      //   if (i >= xSize) {
      //     clearInterval(moveSlideRight);
      //     moveSlideLeft = setInterval(() => {
      //       slide1.style.marginLeft = -i + "px";
      //       if (i == 0) {
      //         clearInterval(moveSlideLeft);
      //       }
      //       i--;
      //     }, 1);
      //   }
      //   i++;
      // }, 1);
    </script>
    <script src="/js/countUp.js"></script>
    <script src="/js/typewriter.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
