<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.8.2/countUp.min.js"
      integrity="sha512-bo+22vUP5nA4TPXCErmSTqmrBTFpnK9FXPKjDAahqShfXIdh9JpMl0iS/ZXHPw70OzdRz3xP3pqJfoo89JITkQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <%- include("common/header.ejs") %>
    <div id="index_container">
      <div class="cont1">
        <video src="/img/videomain.mp4" autoplay loop muted></video>
        <div class="context">
          <h2><div id="app"></div></h2>
          <div class="btns">
            <a href="/brdlist" data-aos="zoom-in">게시글 페이지로 가기</a>
            <a href="/subpage" data-aos="zoom-in" data-aos-delay="100"
              >더 알아보기</a
            >
          </div>
        </div>
      </div>
      <div class="cont2">
        <div class="center">
          <div class="context">
            <h2>저희 여행사만의 특징</h2>
            <p>특별한 키워드를 담은 여행만을 소개합니다</p>
          </div>
          <div class="inner">
            <div
              class="left"
              data-aos="zoom-in-right"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <img src="/img/img1.jpg" />
            </div>
            <div
              class="right"
              class="left"
              data-aos="zoom-in-left"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="200"
            >
              <div class="card card1">
                <i class="fa-solid fa-plane"></i>
                <div>
                  <h2>빠릅니다</h2>
                  <p>동종업계 누구보다도 빠르고 정확한 서비스</p>
                </div>
              </div>
              <div class="card card2">
                <i class="fa-solid fa-car-side"></i>
                <div>
                  <h2>저렴합니다</h2>
                  <p>
                    유사 서비스를 제공하는 타사대비 최저가가 아닐시
                    환불보장됩니다
                  </p>
                </div>
              </div>
              <div class="card card3">
                <i class="fa-solid fa-road"></i>
                <div>
                  <h2>신뢰할 수 있습니다</h2>
                  <p>
                    업계 최고의 고객지원 서비스, 고객서비스 팀은 여러분을 도울
                    준비가 되어있습니다
                  </p>
                </div>
              </div>
              <div class="card card4">
                <i class="fa-solid fa-infinity"></i>
                <div>
                  <h2>간편합니다</h2>
                  <p>
                    일정조율부터 항공편, 호텔예약까지 모든 서비스를 제공합니다.
                    더 이상 여행계획에 스트레스 받지 마십시오
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cont4">
        <div class="center">
          <div class="context">
            <h2>놓치면 안될 장소들</h2>
            <p>저희 고객님들이 가장 만족하시는 여행지입니다</p>
          </div>
          <div class="places">
            <div
              data-aos="zoom-out-right"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place1"
            >
              <div class="content">
                <h2>플로리다</h2>
                <p>14 항공편</p>
              </div>
            </div>
            <div
              data-aos="zoom-out-right"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place2"
            >
              <div class="content">
                <h2>캘리포니아</h2>
                <p>98 항공편</p>
              </div>
            </div>
            <div
              data-aos="zoom-out-left"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place3"
            >
              <div class="content">
                <h2>뉴욕</h2>
                <p>94 항공편</p>
              </div>
            </div>
            <div
              data-aos="zoom-out-right"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place4"
            >
              <div class="content">
                <h2>런던</h2>
                <p>28 항공편</p>
              </div>
            </div>
            <div
              data-aos="zoom-out-left"
              data-aos-duration="1000"
              data-aos-once="true"
              class="place place5"
            >
              <div class="content">
                <h2>호주</h2>
                <p>38 항공편</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cont5">
        <div class="center">
          <div class="card card1">
            <i class="fa-solid fa-medal"></i>
            <div class="contents">
              <h2 id="count1">0</h2>
              <p>후기</p>
            </div>
          </div>
          <div class="card card2">
            <i class="fa-solid fa-person"></i>
            <div class="contents">
              <h2 id="count2">0</h2>
              <p>고객</p>
            </div>
          </div>
          <div class="card card3">
            <i class="fa-brands fa-magento"></i>
            <div class="contents">
              <h2 id="count3">0</h2>
              <p>직원</p>
            </div>
          </div>
          <div class="card card4">
            <i class="fa-solid fa-plane"></i>
            <div class="contents">
              <h2 id="count4">0</h2>
              <p>항공사</p>
            </div>
          </div>
        </div>
      </div>
      <div id="cont6">
        <div class="context">
          <h2>OUR STAFF</h2>
          <p>항상 업계 최고수준의 서비스를 약속드리겠습니다</p>
        </div>
        <div class="cards">
          <div
            class="card card1"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="0"
          >
            <img src="/img/staff1.jpg" />
            <div class="contents">
              <h3>홍성일</h3>
              <p>오피스 매니저</p>
              <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div
            class="card card2"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="200"
          >
            <img src="/img/staff2.jpg" />
            <div class="contents">
              <h3>김민수</h3>
              <p>서포트 매니저</p>
              <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div
            class="card card3"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="400"
          >
            <img src="/img/staff3.jpg" />
            <div class="contents">
              <h3>이찬혁</h3>
              <p>웹 개발자</p>
              <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div
            class="card card4"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="600"
          >
            <img src="/img/staff4.jpg" />
            <div class="contents">
              <h3>박상길</h3>
              <p>크리에이티브 디렉터</p>
              <div class="icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cont7">
        <div class="context">
          <h2>고객들의 후기</h2>
          <p></p>
        </div>
        <div class="center">
          <div class="card card1">
            <img src="/img/staff1.jpg" />
            <div class="context">
              <h3>김민수</h3>
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p>( 4.0 Reviews )</p>
              </div>
              <p>
                제가 이용해본 여행사중에 최고였습니다, 서비스도 빠르고 여행중에
                아무런 문제가 없었습니다.
              </p>
            </div>
          </div>
          <div class="card card2">
            <img src="/img/staff2.jpg" />
            <div class="context">
              <h3>이영자</h3>
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p>( 3.9 Reviews )</p>
              </div>
              <p>
                가격이 저렴하고 이용이 간편합니다, 직원분들이 참 친절하세요.
              </p>
            </div>
          </div>
          <div class="card card3">
            <img src="/img/staff3.jpg" />
            <div class="context">
              <h3>김창민</h3>
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p>( 4.1 Reviews )</p>
              </div>
              <p>몇몇 아쉬운 부분도 있었지만 전체적으로 만족스러웠습니다</p>
            </div>
          </div>
        </div>
      </div>
      <div id="cont8">
        <div class="context">
          <h2>블로그</h2>
          <p>저희 여행사에서 운영하는 블로그입니다</p>
        </div>
        <div class="center">
          <div
            class="card card1"
            data-aos="fade-in"
            data-aos-duration="500"
            data-aos-once="true"
          >
            <img src="/img/blog1.jpg" />
            <div class="midbar">
              <img src="img/staff1.jpg" />
              <div class="context">
                <p>유하나</p>
                <div class="icons">
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="context">
              <h2>꿈꿔왔던 여행이 현실로</h2>
              <p>
                미식, 쇼핑, 볼거리 모든 것을 다 갖춘 여행지 프라하에서 나만의
                일정을 즐겨보세요.
              </p>
            </div>
          </div>
          <div
            class="card card2"
            data-aos="fade-in"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="200"
          >
            <img src="/img/blog2.jpg" />
            <div class="midbar">
              <img src="img/staff3.jpg" />
              <div class="context">
                <p>박창욱</p>
                <div class="icons">
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="context">
              <h2>스페인 일주 9일</h2>
              <p>
                마드리드 시내 중심 호텔 1박, 모든 일정 엄선된 4성 호텔 숙박,
                핵심관광지를 모두 포함한 하나투어 대표 스페인 일주, 인생샷을
                남길 수 있는 뷰 포인트 3회 이상 관광
              </p>
            </div>
          </div>
          <div
            class="card card3"
            data-aos="fade-in"
            data-aos-duration="500"
            data-aos-once="true"
            data-aos-delay="400"
          >
            <img src="/img/blog3.jpg" />
            <div class="midbar">
              <img src="img/staff2.jpg" />
              <div class="context">
                <p>김정민</p>
                <div class="icons">
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
              </div>
            </div>
            <div class="context">
              <h2>대만 여행 초특가</h2>
              <p>
                가볍게 여행을 떠나고 싶다면 지금이 기회! 실속있는 가격, 알찬
                일정으로 구성된 특가 상품입니다.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="cont9">
        <div class="context">
          <h2>고객사</h2>
          <p>저희와 함께하는 고객사들입니다</p>
        </div>
        <div class="view">
          <div class="slide1">
            <div class="img">
              <img src="/img/company1.png" />
              <img src="/img/company2.png" />
              <img src="/img/company3.png" />
              <img src="/img/company4.png" />
              <img src="/img/company5.png" />
              <img src="/img/company6.png" />
              <img src="/img/company7.png" />
              <img src="/img/company8.png" />
              <img src="/img/company9.png" />
              <img src="/img/company10.png" />
            </div>
          </div>
        </div>
      </div>
      <div id="cont10">
        <div class="context">
          <h2>찾아오시는 길</h2>
        </div>
        <div id="map" style="max-width: 1100px; height: 500px"></div>
      </div>
      <button onclick="topFunction()" id="myBtn" title="Go to top"></button>
    </div>
    <script>
      // Get the button:
      let mybutton = document.getElementById("myBtn");
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>
    <%- include("common/footer.ejs") %>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7852e44ce20118fba7f83a98ca9f220e
      "
    ></script>
    <script>
      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(37.5759, 126.9768), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };

      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

      // 마커가 표시될 위치입니다
      var markerPosition = new kakao.maps.LatLng(37.5759, 126.9768);

      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        position: markerPosition,
      });

      // 마커가 지도 위에 표시되도록 설정합니다
      marker.setMap(map);

      // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
      var mapTypeControl = new kakao.maps.MapTypeControl();

      // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
      // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
      map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

      // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
      var zoomControl = new kakao.maps.ZoomControl();
      map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    </script>
    <script>
      let countUpCont = document.querySelector("#cont5");
      let view = Math.round(window.innerHeight) / 2;
      let active = false;
      console.log(view);
      window.addEventListener("scroll", () => {
        if (window.scrollY >= countUpCont.offsetTop - view) {
          if (active == false) {
            var counter1 = new CountUp("count1", 0, 989, 0, 8, {});
            counter1.start();
            var counter2 = new CountUp("count2", 0, 23907, 0, 5);
            counter2.start();
            var counter3 = new CountUp("count3", 0, 34, 0, 10);
            counter3.start();
            var counter4 = new CountUp("count4", 0, 176, 0, 10);
            counter4.start();
            active = true;
          }
        }
      });

      const slide1 = document.querySelector("#cont9 .view .slide1 ");

      let i = 0;
      let xSize = window.innerWidth * 2;

      const moveSlideRight = () => {
        slide1.style.marginLeft = -i + "px";
        if (i >= xSize) {
          clearInterval(autoMove);
          autoMove = setInterval(() => {
            moveSlideLeft();
          }, 1);
        }
        i++;
      };

      const moveSlideLeft = () => {
        slide1.style.marginLeft = -i + "px";
        if (i <= 0) {
          clearInterval(autoMove);
          i = 0;
          autoMove = setInterval(() => {
            moveSlideRight();
          }, 1);
        }
        i -= 10;
      };

      let autoMove = setInterval(() => {
        moveSlideRight();
      }, 1);

      // moveSlideRight = setInterval(() => {
      //   slide1.style.marginLeft = -i + "px";
      //   if (i >= xSize) {
      //     clearInterval(moveSlideRight);
      //     moveSlideLeft = setInterval(() => {
      //       slide1.style.marginLeft = -i + "px";
      //       if (i == 0) {
      //         clearInterval(moveSlideLeft);
      //       }
      //       i--;
      //     }, 1);
      //   }
      //   i++;
      // }, 1);
    </script>
    <script src="/js/countUp.js"></script>
    <script src="/js/typewriter.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
