<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div id="login_container">
      <div class="left">
        <h2>Sign into your account</h2>
        <form id="login_form" action="/loginresult" method="post">
          <div class="line">
            <input
              type="text"
              name="useremail"
              placeholder="이메일을 입력해주세요"
            />
          </div>
          <div class="line">
            <input
              type="password"
              name="userpass"
              placeholder="비밀번호를 입력해주세요"
            />
          </div>
          <div class="btns">
            <button id="loginBtn" type="submit">로그인</button>
            <a href="/">뒤로가기</a>
          </div>
        </form>
        <p>계정이 없나요?&nbsp;<a href="join">여기에서</a>&nbsp;가입하세요!</p>
      </div>
      <div class="right">
        <div class="bg"></div>
        <div class="content">WELCOME TO TRIPPR</div>
      </div>
    </div>
  </body>
</html>
