<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서브페이지</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <%- include("common/header.ejs") %>
    <div id="subpage_container">
      <div class="cont1">
        <div class="bg">
          <video src="/img/video.mp4" autoplay loop muted></video>
          <div class="context">
            <h2>여행을 가볍게</h2>
            <div class="btn">
              <a href="/">메인페이지로 가기</a>
            </div>
          </div>
        </div>
        <div class="center">
          <div class="video">
            <iframe
              width="450px"
              height="350px"
              src="https://www.youtube.com/embed/tgbNymZ7vqY"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="context">
            <h2>Welcome to TRIPPR</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
      <div class="cont2">
        <div class="center">
          <div class="context">
            <h2>WHY CHOOSE US</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
          <div class="cards">
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="context">
                <i class="fa-solid fa-martini-glass-citrus"></i>
                <h2>Trusted By Thousands</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="100"
            >
              <div class="context">
                <i class="fa-regular fa-circle"></i>
                <h2>Wide Range of Properties</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
            <div
              class="card"
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="200"
            >
              <div class="context">
                <i class="fa-solid fa-cake-candles"></i>
                <h2>Financing Made Easy</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
            <div
              class="card"
              style="display: none"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="0"
            >
              <div class="context">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
                <h2>Works Like Magic</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
            <div
              class="card"
              style="display: none"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="100"
            >
              <div class="context">
                <i class="fa-brands fa-playstation"></i>
                <h2>Traveling Made Fun</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
            <div
              class="card"
              style="display: none"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="200"
            >
              <div class="context">
                <i class="fa-solid fa-certificate"></i>
                <h2>We Take Care of Everything</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </div>
          <button>Read More</button>
        </div>
      </div>
      <div class="cont3">
        <div id="slider">
          <div class="view">
            <div>봄은 오는 것이 아니다. 가는 것이다.</div>
            <div>지구에서 가장 행복한 곳</div>
            <div>여행의 힘을 믿으세요, go abroad</div>
            <div>오늘 아침은 개와 산책, 해질녘은 코끼리로 산책.</div>
          </div>
          <ul class="pager">
            <li class="on" data-index="0">1</li>
            <li data-index="1">2</li>
            <li data-index="2">3</li>
            <li data-index="3">4</li>
          </ul>
          <button class="left">왼쪽</button>
          <button class="right">오른쪽</button>
        </div>
      </div>
      <div class="cont4">
        <div class="center">
          <div class="context">
            <h2>OUR AGENT</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
          <div class="cards">
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="photo"><img src="/img/prof1.webp" /></div>
              <div class="content">
                <h3>SUPPORT MANAGER</h3>
                <h2>Karen Paran</h2>
                <div>
                  <i class="fa-regular fa-envelope-open"></i>
                  <p>info@themvessel.com</p>
                </div>
                <div>
                  <i class="fa-sharp fa-solid fa-phone-flip"></i>
                  <p>+55 4XX-634-7071</p>
                </div>
                <div>
                  <i class="fa-brands fa-skype"></i>
                  <p>sales.carshop</p>
                </div>
              </div>
            </div>
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="photo"><img src="/img/prof2.webp" /></div>
              <div class="content">
                <h3>CREATIVE DIRECTOR</h3>
                <h2>Jordan Peterson</h2>
                <div>
                  <i class="fa-regular fa-envelope-open"></i>
                  <p>info@themvessel.com</p>
                </div>
                <div>
                  <i class="fa-sharp fa-solid fa-phone-flip"></i>
                  <p>+55 4XX-634-7071</p>
                </div>
                <div>
                  <i class="fa-brands fa-skype"></i>
                  <p>sales.carshop</p>
                </div>
              </div>
            </div>
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="photo"><img src="/img/prof3.webp" /></div>
              <div class="content">
                <h3>OFFICE MANAGER</h3>
                <h2>Maria Blank</h2>
                <div>
                  <i class="fa-regular fa-envelope-open"></i>
                  <p>info@themvessel.com</p>
                </div>
                <div>
                  <i class="fa-sharp fa-solid fa-phone-flip"></i>
                  <p>+55 4XX-634-7071</p>
                </div>
                <div>
                  <i class="fa-brands fa-skype"></i>
                  <p>sales.carshop</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script>
      //버튼 클릭시 카드 보이는 기능 구간
      const readBtn = document.querySelector(".cont2 .center button");
      const cards = document.querySelectorAll(".cont2 .center .cards .card");
      readBtn.addEventListener("click", () => {
        cards.forEach((item, index) => {
          item.style.display = "block";
          readBtn.style.display = "none";
        });
      });

      //슬라이더 기능 구간
      const slideWrap = document.querySelector("#slider");
      const sliderView = document.querySelector(".view");
      const sliderLast = document.querySelectorAll(".view > div").length;
      const idx = document.querySelectorAll(".pager li");

      const leftBtn = document.querySelector(".left");
      const rightBtn = document.querySelector(".right");

      let sliderNumber = 0;

      leftBtn.addEventListener("click", () => {
        if (sliderNumber == 0) {
          sliderNumber = sliderLast - 1;
        } else {
          sliderNumber--;
        }
        handlePager();
        idx[sliderNumber].classList.add("on");
        handleSlides();
      });

      rightBtn.addEventListener("click", () => {
        if (sliderNumber == sliderLast - 1) {
          sliderNumber = 0;
        } else {
          sliderNumber++;
        }
        handlePager();
        idx[sliderNumber].classList.add("on");
        handleSlides();
      });

      let loopInterval = setInterval(() => {
        if (sliderNumber == sliderLast - 1) {
          sliderNumber = 0;
        } else {
          sliderNumber++;
        }
        handlePager();
        idx[sliderNumber].classList.add("on");
        handleSlides();
      }, 3000);

      for (let i = 0; i < idx.length; i++) {
        idx[i].addEventListener("click", (e) => {
          //함수로 코드 정리할 부분
          handlePager();
          e.currentTarget.classList.add("on");
          sliderNumber = e.currentTarget.getAttribute("data-index");
          handleSlides();
        });
      }

      function handlePager() {
        for (let i = 0; i < idx.length; i++) {
          idx[i].classList.remove("on");
        }
      }

      function handleSlides() {
        sliderView.style.marginLeft = -100 * sliderNumber + "%";
      }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
