<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서브페이지</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <%- include("common/header.ejs") %>
    <div id="subpage_container">
      <div class="cont1">
        <div class="bg">
          <video src="/img/video.mp4" autoplay loop muted></video>
          <div class="context">
            <h2>여행을 가볍게</h2>
            <div class="btn">
              <a href="/">메인페이지로 가기</a>
            </div>
          </div>
        </div>
        <div class="center">
          <div class="video">
            <iframe
              width="450px"
              height="350px"
              src="https://www.youtube.com/embed/tgbNymZ7vqY"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="context">
            <h2>TRIPPR에 오신 것을 환영합니다</h2>
            <p>
              TRIPPR가 처음 시작된 1993년에는 많은 사람이 여행을 어렵고
              낯설어했죠. 이것이 하나투어가 시작된 이유였습니다. 두려운 마음이
              여행의 설렘을 방해하지 않도록 처음부터 끝까지 함께 한 거죠. 여행이
              일상화된 요즘 시대, 그럼에도 불구하고 꿈꾸는 여행을 주저하는
              마음들이 있습니다.
            </p>
            <p>
              그 어떤 것도 여행의 설렘을 방해하지 않도록, 당신이 좋아하는 여행에
              한계가 없도록 포기했던 여행을 다시 꿈꾸고 미처 해보지 못한
              무언가를 해보며 일상으로 돌아와도 여행의 설렘이 끝나지 않도록,
              그렇게 당신의 경험, 생각, 세계가 끊임없이 넓어질 수 있도록,
              TRIPPR가 함께하겠습니다.
            </p>
          </div>
        </div>
      </div>
      <div class="cont2">
        <div class="center">
          <div class="context">
            <h2>저희를 선택해야 하는 이유</h2>
            <p>동종업계 최고의 평가를 받고있는데는 이유가 있습니다.</p>
          </div>
          <div class="cards">
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="context">
                <i class="fa-solid fa-martini-glass-citrus"></i>
                <h2>수천명의 고객</h2>
                <p>
                  지금까지 3만명이 넘는 고객들이 저희 서비스를 이용해주신 이유를
                  알아보세요, 실망하지 않을십겁니다.
                </p>
              </div>
            </div>
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="100"
            >
              <div class="context">
                <i class="fa-regular fa-circle"></i>
                <h2>다양한 여행 플랜</h2>
                <p>
                  전세계 174개의 항공사를 이용하는 저희만의 특별한 여행 플랜,
                  이정도의 항공사를 이용하는 여행사는 저희가 국내에서
                  유일합니다.
                </p>
              </div>
            </div>
            <div
              class="card"
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="200"
            >
              <div class="context">
                <i class="fa-solid fa-cake-candles"></i>
                <h2>간편함</h2>
                <p>
                  클릭 한번으로 세계 어디든 저희가 데려갑니다. 언제든지
                  문의주세요.
                </p>
              </div>
            </div>
            <div
              class="card"
              style="display: none"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="0"
            >
              <div class="context">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
                <h2>복잡한 일은 제로</h2>
                <p>
                  해외여행이 어렵다고 생각하시나요? 저희가 함께한다면 이만큼
                  간단한 일은 없습니다.
                </p>
              </div>
            </div>
            <div
              class="card"
              style="display: none"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="100"
            >
              <div class="context">
                <i class="fa-brands fa-playstation"></i>
                <h2>선택하는 재미</h2>
                <p>
                  패키지 상품이 싫으시다고요? 또 하나의 즐거움 선택관광이
                  여기에! 합리적인 가격으로 새로워졌습니다.
                </p>
              </div>
            </div>
            <div
              class="card"
              style="display: none"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
              data-aos-delay="200"
            >
              <div class="context">
                <i class="fa-solid fa-certificate"></i>
                <h2>저희가 책임집니다</h2>
                <p>
                  해외여행시에 현지 치안에 우려가 많으시죠? 저희가 책입집니다.
                  여행중 발생하는 어떤 문제든 해결해드릴 것을 약속드리겠습니다.
                </p>
              </div>
            </div>
          </div>
          <button>Read More</button>
        </div>
      </div>
      <div class="cont3">
        <div id="slider">
          <div class="view">
            <div>봄은 오는 것이 아니다. 가는 것이다.</div>
            <div>지구에서 가장 행복한 곳</div>
            <div>여행의 힘을 믿으세요, go abroad</div>
            <div>오늘 아침은 개와 산책, 해질녘은 코끼리로 산책.</div>
          </div>
          <ul class="pager">
            <li class="on" data-index="0">1</li>
            <li data-index="1">2</li>
            <li data-index="2">3</li>
            <li data-index="3">4</li>
          </ul>
          <button class="left">왼쪽</button>
          <button class="right">오른쪽</button>
        </div>
      </div>
      <div class="cont4">
        <div class="center">
          <div class="context">
            <h2>고객센터</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
          <div class="cards">
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="photo"><img src="/img/prof1.webp" /></div>
              <div class="content">
                <h3>서포트 매니저</h3>
                <h2>김민수</h2>
                <div>
                  <i class="fa-regular fa-envelope-open"></i>
                  <p>info@themvessel.com</p>
                </div>
                <div>
                  <i class="fa-sharp fa-solid fa-phone-flip"></i>
                  <p>+55 4XX-634-7071</p>
                </div>
                <div>
                  <i class="fa-brands fa-skype"></i>
                  <p>sales.carshop</p>
                </div>
              </div>
            </div>
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="photo"><img src="/img/prof2.webp" /></div>
              <div class="content">
                <h3>크리에이티브 디렉터</h3>
                <h2>이찬혁</h2>
                <div>
                  <i class="fa-regular fa-envelope-open"></i>
                  <p>info@themvessel.com</p>
                </div>
                <div>
                  <i class="fa-sharp fa-solid fa-phone-flip"></i>
                  <p>+55 4XX-634-7071</p>
                </div>
                <div>
                  <i class="fa-brands fa-skype"></i>
                  <p>sales.carshop</p>
                </div>
              </div>
            </div>
            <div
              class="card"
              data-aos="fade-in"
              data-aos-duration="500"
              data-aos-once="true"
            >
              <div class="photo"><img src="/img/prof3.webp" /></div>
              <div class="content">
                <h3>오피스 매니저</h3>
                <h2>박상길</h2>
                <div>
                  <i class="fa-regular fa-envelope-open"></i>
                  <p>info@themvessel.com</p>
                </div>
                <div>
                  <i class="fa-sharp fa-solid fa-phone-flip"></i>
                  <p>+55 4XX-634-7071</p>
                </div>
                <div>
                  <i class="fa-brands fa-skype"></i>
                  <p>sales.carshop</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script>
      //버튼 클릭시 카드 보이는 기능 구간
      const readBtn = document.querySelector(".cont2 .center button");
      const cards = document.querySelectorAll(".cont2 .center .cards .card");
      readBtn.addEventListener("click", () => {
        cards.forEach((item, index) => {
          item.style.display = "block";
          readBtn.style.display = "none";
        });
      });

      //슬라이더 기능 구간
      const slideWrap = document.querySelector("#slider");
      const sliderView = document.querySelector(".view");
      const sliderLast = document.querySelectorAll(".view > div").length;
      const idx = document.querySelectorAll(".pager li");

      const leftBtn = document.querySelector(".left");
      const rightBtn = document.querySelector(".right");

      let sliderNumber = 0;

      leftBtn.addEventListener("click", () => {
        if (sliderNumber == 0) {
          sliderNumber = sliderLast - 1;
        } else {
          sliderNumber--;
        }
        handlePager();
        idx[sliderNumber].classList.add("on");
        handleSlides();
      });

      rightBtn.addEventListener("click", () => {
        if (sliderNumber == sliderLast - 1) {
          sliderNumber = 0;
        } else {
          sliderNumber++;
        }
        handlePager();
        idx[sliderNumber].classList.add("on");
        handleSlides();
      });

      let loopInterval = setInterval(() => {
        if (sliderNumber == sliderLast - 1) {
          sliderNumber = 0;
        } else {
          sliderNumber++;
        }
        handlePager();
        idx[sliderNumber].classList.add("on");
        handleSlides();
      }, 3000);

      for (let i = 0; i < idx.length; i++) {
        idx[i].addEventListener("click", (e) => {
          //함수로 코드 정리할 부분
          handlePager();
          e.currentTarget.classList.add("on");
          sliderNumber = e.currentTarget.getAttribute("data-index");
          handleSlides();
        });
      }

      function handlePager() {
        for (let i = 0; i < idx.length; i++) {
          idx[i].classList.remove("on");
        }
      }

      function handleSlides() {
        sliderView.style.marginLeft = -100 * sliderNumber + "%";
      }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
