<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div id="footer">
  <div class="f-top">
    <div class="top1">
      <h2>연락처</h2>
      <p>서울특별시 용산구 삼천리 6길 66</p>
      <p>info@trippr.com</p>
      <p>+82 123-456-7890</p>
    </div>
    <div class="top2">
      <h2>상세 메뉴</h2>
      <a href="#">투어/입장권</a>
      <a href="#">골프</a>
      <a href="#">MICE</a>
      <a href="#">호텔</a>
      <a href="#">제우스</a>
    </div>
    <div class="top3">
      <h2>링크</h2>
      <a href="#">회사소개</a>
      <a href="#">사업소개</a>
      <a href="/subpage">서브페이지</a>
      <a href="/brdlist">상품목록</a>
    </div>
    <div class="top4">
      <h2>팔로우</h2>
      <div class="icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-google-plus"></i></a>
        <a href="#"><i class="fa-solid fa-podcast"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="f-bot">
    <p>COPYRIGHTⓒ TRIPPR INC. ALL RIGHTS RESERVED</p>
  </div>
</div>
