<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div id="footer">
  <div class="f-top">
    <div class="top1">
      <h2>Contact Us</h2>
      <p>360 Harvest St, North Subract, London. United States of America</p>
      <p>info@themvessel.com</p>
      <p>+1 347-465-0659</p>
    </div>
    <div class="top2">
      <h2>Properties Types</h2>
      <a href="#">Apartment</a>
      <a href="#">Restaurant</a>
      <a href="#">My Houses</a>
      <a href="#">Villa & Condo</a>
      <a href="#">Family house</a>
    </div>
    <div class="top3">
      <h2>Quick Links</h2>
      <a href="#">About Us</a>
      <a href="#">Services</a>
      <a href="#">Properties Details</a>
      <a href="#">My Account</a>
      <a href="#">Privacy Policy</a>
    </div>
    <div class="top4">
      <h2>Subscribe</h2>
      <div class="icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-google-plus"></i></a>
        <a href="#"><i class="fa-solid fa-podcast"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="f-bot">
    <p>
      2021 Theme Vessel. Trademarks and brands are the property of their
      respective owners.
    </p>
  </div>
</div>
